

body {
    background-image: url(Image_Assets/Explore_PulauMerah.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: static;
}

